          <header class="appbar justify-content-center">
            <img src="/assets/images/AppFrame/Status Bar.svg"
       alt="Status Bar" class="status-bar">
            <h1 class="appbar__title mt-2 text-white">個人資料頁</h1>
          </header>