.btn {
  border: 0px;
  font-weight: 700;
}

.btn-KV {
  background: linear-gradient(90deg, #7007e7, #347dfd);
  color: $white;
  transition: background 0.3s ease, transform 0.2s ease; // 平滑過渡

  &:hover {
    transform: translateY(-2px); // 微微浮起效果
    filter: brightness(1.2); // 滑過時更亮
  }
  
  &:active {
    transform: translateY(0); // 點擊時回到原位
    background: radial-gradient(
        ellipse at bottom,
        rgba(#c6a6eb, 1) 0,
        rgba(#c6a6eb, 0.5) 15%,
        rgba($white, 0) 30%
      ),
      linear-gradient(90deg, #7007e7, #347dfd);
  }
}
.btn-gray {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transition: background 0.3s ease, transform 0.2s ease; // 平滑過渡

  &:hover {
    background: rgba(255, 255, 255, 0.35); // 滑過時更亮
    transform: translateY(-2px); // 微微浮起效果
  }

  &:active {
    transform: translateY(0); // 點擊時回到原位
    background: rgba(255, 255, 255, 0.25); // 按下去稍暗
  }
}
