.bg-image-login {
  background-image: url(/assets/images/page-login/background.jpg);
  background-position: center;
  background-size: contain;
}

.banner {
  .logo {
    width: 65px;
  }
  .h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid $neutral-400;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    border: 1px solid $purple;
  }
}
