.tab {
  position: relative;
  cursor: pointer;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 4px;
  background-color: #7007E7;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
}

.emotion-select{
  position: relative;
  display: inline-block;
}

.form-select{
  max-width: 96px;
  max-height: 42px;
  background: linear-gradient(to bottom,#3D3D3D 0%, #212121 100%);
  color: #FFFFFF;
  border-radius: 8px;
  padding: 8px 48px 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.arrow-down {
  max-width: 24px;
  max-height: 24px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


.latest-arrival{
  background: linear-gradient(to left,#7007E7 0%, #347DFD 100%);
  padding: 0px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.translate-x-middle{
  transform: translateX(-50%);
}

