.search-bar{
    background-color: #3D3D3D;
    border-radius: 12px;
    padding: 8px 12px;
}


.search-button img{
        max-width: 24px;
        max-height: 24px;
}

.search-input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border: none;
  padding: 0;
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

.movie-recommend-card{
    width: 180px;
    flex: 0 0 auto;

    img{
        max-width: 180px;
        max-height: 101px;
        border-radius: 8px;
    }
}

.glass-nav-fixed{
    &::before {
      content: "";
      position: absolute;
    }
}

.bg-bottom{
    background: linear-gradient(0deg, #000000 0%, #000000 100%);
}

.bottom-area{
    font-size: 0;
    padding-bottom: 100px;
}

.bottom-glass-nav{
    position: relative;
    bottom: -26px;
}