<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>初始頁</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <!-- <body data-page="index"> -->
  <body>
    <div class="phone-frame">
      <div class="phone-frame-relative">
        <div class="StatusBar"></div>
        <div class="phone-screen container py-5 bg-image-initial">
          <!-- <%- include('./layout/header'); -%>? -->

          <!-- Content -->
          <main class="text-white">
            <div class="banner pt-7 pb-5 text-center">
              <h1 class="h3 mb-2">嗨！今天的心情如何？</h1>
              <p class="h6 text-neutral-100">
                輕鬆點，Moodie 為你挑選最對味的影片
              </p>
            </div>
            <div class="row">
              <div class="col-6 mb-3 position-relative">
                <a href="./recommend/recom-excit.html">
                  <img
                    class="w-100"
                    src="/assets/images/page-initial/Start_Card.svg"
                    alt=""
                  />
                  <div
                    class="position-absolute top-0 start-50 translate-middle-x"
                  >
                    <div class="roles py-8 yellow-hover">
                      <img
                        class="role"
                        src="/assets/images/page-initial/Surprise.svg"
                        alt=""
                      />
                      <h3 class="h3 text-neutral-100">興奮</h3>
                      <p class="h6 text-neutral-100">Excitement</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-6 mb-3 position-relative">
                <a href="#">
                  <img
                    class="w-100"
                    src="/assets/images/page-initial/Start_Card.svg"
                    alt=""
                  />
                  <div
                    class="position-absolute top-0 start-50 translate-middle-x"
                  >
                    <div class="roles py-8 green-hover">
                      <img
                        class="role"
                        src="/assets/images/page-initial/Serentiny.svg"
                        alt=""
                      />
                      <h3 class="h3 text-neutral-100">平和</h3>
                      <p class="h6 text-neutral-100">Calmness</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-6 mb-3 position-relative">
                <a href="#">
                  <img
                    class="w-100"
                    src="/assets/images/page-initial/Start_Card.svg"
                  />
                  <div
                    class="position-absolute top-0 start-50 translate-middle-x"
                  >
                    <div class="roles py-8 blue-hover">
                      <img
                        class="role"
                        src="../assets/images/page-initial/Grief.svg"
                        alt=""
                      />
                      <h3 class="h3 text-neutral-100">悲傷</h3>
                      <p class="h6 text-neutral-100">Sadness</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-6 mb-3 position-relative">
                <a href="#">
                  <img
                    class="w-100"
                    src="/assets/images/page-initial/Start_Card.svg"
                    alt=""
                  />
                  <div
                    class="position-absolute top-0 start-50 translate-middle-x"
                  >
                    <div class="roles py-8 purple-hover">
                      <img
                        class="role"
                        src="../assets/images/page-initial/Rage.svg"
                        alt=""
                      />
                      <h3 class="h3 text-neutral-100">恐懼</h3>
                      <p class="h6 text-neutral-100">Fear</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </main>

          <!-- <%- include('./layout/footer'); -%> -->
        </div>

        <div class="bottom-glass-nav">
          <nav class="new-glass-nav glass-nav-fixed" aria-label="主選單">
            <div class="d-flex py-12">
              <a
                class="new-glass-nav__item me-1"
                href="https://gccbs01002.github.io/Moodie/"
              >
                <img src="/assets/images/Icon/Home(Gray).svg" alt="首頁" />
                <p class="glass-nav-text">首頁</p>
              </a>
              <a
                class="new-glass-nav__item me-1 is-active"
                href="https://gccbs01002.github.io/Moodie/roles/excitement.html"
              >
                <img src="/assets/images/Icon/Heart(Gray).svg" alt="情緒片單" />
                <p class="glass-nav-text Text-active">情緒片單</p>
              </a>
              <a
                class="new-glass-nav__item me-1"
                href="https://gccbs01002.github.io/Moodie/search/search-placeholder.html"
              >
                <img src="/assets/images/Icon/Search(gray).svg" alt="搜尋" />
                <p class="glass-nav-text">搜尋</p>
              </a>
              <a
                class="new-glass-nav__item me-1"
                href="https://gccbs01002.github.io/Moodie/mine-account/playlist.html"
              >
                <img
                  src="/assets/images/Icon/Bookmark(Gray).svg"
                  alt="個人片單"
                />
                <p class="glass-nav-text">個人片單</p>
              </a>
              <a
                class="new-glass-nav__item"
                href="https://gccbs01002.github.io/Moodie/mine-account/account.html"
              >
                <img src="/assets/images/Icon/User(Gray).svg" alt="帳戶" />
                <p class="glass-nav-text">帳戶</p>
              </a>
            </div>
          </nav>
        </div>
        <footer class="Home-Indicator"></footer>
      </div>
      <img
        src="/assets/images/AppFrame/iPhone_15_Pro_Black_Titanium_Mock_Up(O).png"
        alt=""
        class="phone-overlay"
      />
    </div>

    <script type="module" src="/main.js"></script>
  </body>
</html>
