<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>影片互動與資訊頁-恐懼</title>
  </head>
  <body>
    
    <div class="phone-frame">
        <div class="phone-frame-relative">
            <div class="StatusBar"></div>
                <div class="phone-screen">   
            
                <!-- <%- include('./layout/header'); -%>? -->

                <!-- Content -->
                <main>
                    <div class="bg-color">
                        <!-- Banner -->
                        <div class="position-relative banner-border-radious">
                            <div class="banner">
                                <img src="/assets/images/page-emotion-recommendation/fear.jpg" alt="霓虹惡魔 (The Neon Demon)" class="img-fluid">
                            </div>
                            <div>
                                <a href="https://gccbs01002.github.io/Moodie/recommend/recom-excit.html"><button type="button" class="close-button" width="48px"><img src="/assets/images/Icon/Close.svg" alt="close-button" class="position-absolute top-50 start-50 translate-middle"></button></a>
                            </div>
                            <div>
                                <a class="play-button position-absolute top-50 start-50 translate-middle" href="https://gccbs01002.github.io/Moodie/movie_play/barbie-play.html"><img src="/assets/images/Icon/Play.svg" alt="play-button" class="position-absolute top-50 start-50 translate-middle"></a>
                            </div>
                            <span class="emotion-tag emotion-tag-Fear text-sm">69%恐懼</span>
                        </div>

                        <div class="pt-2 pb-40">
                            <div class="container">
                                <!-- Movie-Intro -->
                                <section class="d-flex">
                                    <div class="d-flex align-items-center mb-2">    
                                        <span class="status-tag status-tag-Fear text-xs text-white me-2">18+</span>
                                        <span class="text-xs text-white me-2">84%契合</span>
                                        <div class="d-flex align-items-center">
                                            <button type="button">
                                                <img src="/assets/images/Icon/Star.svg" width="16px" alt="Star-Icon">
                                            </button>
                                            <span class="text-xs text-white ml-2">6.1</span>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <button type="button"><img src="/assets/images/Icon/Download.svg" alt="Download-Icon" class="p-12"></button>
                                        <button type="button"><img src="/assets/images/Icon/Plus.svg" alt="Plus-Icon" class="p-12 mx-2"></button>
                                        <button type="button"><img src="/assets/images/Icon/Send.svg" alt="Send-Icon" class="p-12"></button>
                                    </div>
                                </section>
                                
                                <section>
                                    <h1 class="h4 text-white mb-2">霓虹惡魔 (The Neon Demon)</h1>
                                    <div class="text-xs text-neutral-300 mb-2">    
                                        <span class="bg-tag px-2">2016</span>
                                        <span class="mx-2">117分鐘</span>
                                        <span>時尚驚悚．冷酷心理</span>
                                    </div>
                                    <p class="text-xs text-white mb-2">來自喬治亞的年輕女孩露比（艾兒芬妮 飾）來到五光十色的罪惡之城──洛杉磯，希望成為一名頂尖模特兒。她的純潔與熱情使她大獲成功，也激起了其他他人的嫉妒和垂涎。一些女孩在她面前俯首稱臣，另一些人卻決定使出所有手段偷走她的美麗容顏。在「美」的魅惑之下，人性赤裸裸到瘋狂，雜交、謀殺、姦屍、食人……在成就美的路上，任何最令人髮指的事情都被容許發生！</p>
                                </section>
                            </div> 



                        <!-- 演員與導演資訊 -->
                            <section class="mb-2">   
                                <div class="container">
                                    <h2 class="h5 text-white py-11-5 mb-2">演員與導演資訊</h2>
                                    <div class="mb-2">    
                                        <span class="text-xs text-neutral-300 me-2">導演</span>
                                        <span class="text-xs text-neutral-300">尼可拉溫丁黑芬</span>
                                    </div>
                                </div>
                                
                                <section class="ml-16">
                                    <div class="d-flex mb-2 overflow-auto">
                                        <div class="actor-card text-center">
                                            <a href="#"><img src="/assets/images/page-detail/Fear-1.jpg" class="card-img-top" alt="艾兒芬妮"></a>
                                            <div>
                                                <a href="#"><h4 class="h5">艾兒芬妮</h4></a>
                                                <h5 class="h6 text-neutral-300">潔西</h5>
                                            </div>
                                        </div>
                                    
                                        <div class="actor-card text-center">
                                            <a href="#"><img src="/assets/images/page-detail/Fear-2.jpg" class="card-img-top" alt="卡爾葛魯斯曼"></a>
                                            <div>
                                                <a href="#"><h4 class="h5">卡爾葛魯斯曼</h4></a>
                                                <h5 class="h6 text-neutral-300">狄恩</h5>
                                            </div>
                                        </div>
                                    
                                        <div class="actor-card text-center">
                                            <a href="#"><img src="/assets/images/page-detail/Fear-3.jpg" class="card-img-top" alt="吉娜馬隆"></a>
                                            <div>
                                                <a href="#"><h4 class="h5">吉娜馬隆</h4></a>
                                                <h5 class="h6 text-neutral-300">露比</h5>
                                            </div>
                                        </div>
                                    
                                        <div class="actor-card text-center">
                                            <a href="#"><img src="/assets/images/page-detail/Fear-4.jpg" class="card-img-top" alt="貝拉希斯寇特"></a>
                                            <div>
                                                <a href="#"><h4 class="h5">貝拉希斯寇特</h4></a>
                                                <h5 class="h6 text-neutral-300">吉吉</h5>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                
                            </section>

                            <!-- 類似影片 -->
                            <section class="ml-16">    
                                <h2 class="h5 text-white py-11-5 mb-2">類似影片</h2>
                                <div class="d-flex flex-nowrap overflow-auto">
                                    <div class="video-card">
                                        <a href="#"><img src="/assets/images/(new)page-emotion-recommendation/movie-Fear-4.jpg" class="card-img-top" alt="類似影片1"></a>
                                    </div>
                                    
                                    <div class="video-card">
                                        <a href="#"><img src="/assets/images/(new)page-emotion-recommendation/movie-Fear-3.jpg" class="card-img-top" alt="類似影片2"></a>
                                    </div>
                                    
                                    <div class="video-card">
                                        <a href="#"><img src="/assets/images/(new)page-emotion-recommendation/movie-Fear-6.jpg" class="card-img-top" alt="類似影片3"></a>
                                    </div>
                                    
                                    <div class="video-card">
                                        <a href="#"><img src="/assets/images/(new)page-emotion-recommendation/movie-Fear-11.jpg" class="card-img-top" alt="類似影片4"></a>
                                    </div>
                                </div>
                            </section> 
                        </div>

                        <div class="fake-bottom-area mar-t-6">　</div>
                    </div>
                    
                </main>

                <!-- <%- include('./layout/footer'); -%> -->
        
                </div>
            <footer class="Home-Indicator"></footer>
        </div>
        <img src="/assets/images/AppFrame/iPhone_15_Pro_Black_Titanium_Mock_Up(O).png" alt="" class="phone-overlay">
    </div>


    <script type="module" src="/main.js"></script>
  </body>
</html>
